table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 100px;
    margin-left: 45px;
    margin-top: 15px;
}
th, td:first-child {
    background: cornflowerblue;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: lightcyan;
}
th:first-child, td:first-child {
    text-align: left;
}
button {
    margin: 10px 10px 10px 10px;
}

table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

body {
    background-image: url("duck-seamless-pattern-background_42349-10.webp");
    /*background-image: url("https://image.freepik.com/free-vector/duck-seamless-pattern-background_42349-10.jpg");*/
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 17px;
    /*margin: 10px 20px;*/
    margin: 20px 10px 20px 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4830F0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

/*#choose_rake {*/
/*    position: fixed;*/
/*    right: 500px;*/
/*    top: 30px;*/
/*}*/

#radiobtn {
    background-image: url("duck-seamless-pattern-background_42349-10.webp");
    /*background-image: url("https://image.freepik.com/free-vector/duck-seamless-pattern-background_42349-10.jpg");*/
}

/*hr {*/
/*    color: #0000FF;*/
/*}*/
hr {
    color: #0000FF;
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

blockquote {
    margin: 0;
    background: #FFF4ED;
    padding: 40px;
    color: #3F484D;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
blockquote:before, blockquote:after {
    font-size: 45px;
    color: #3CA1D9;
    position: absolute;
    height: 2px;
    left: 40px;
    right: 40px;
    line-height: .5;
    background: linear-gradient(to right, #3CA1D9 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #3CA1D9 55%);
    font-family: serif;
}
blockquote:before {
    content: "\201C";
    top: 30px;
}
blockquote:after {
    content: "\201D";
    bottom: 30px;
}
blockquote p {
    font-size: 20px;
}
blockquote footer {
    margin-bottom: 1em;
}
blockquote cite {
    font-style: normal;
}

#rd {
    font-size: larger;
}

/*input[type="number"]::-webkit-outer-spin-button,*/
/*input[type="number"]::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/
/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 70px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100%;
    max-width: 230px;
    height: 40px;
    background: cornflowerblue;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}