table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 100px;
    margin-left: 45px;
    margin-top: 15px;
}
th, td:first-child {
    background: cornflowerblue;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: lightcyan;
}
th:first-child, td:first-child {
    text-align: left;
}
button {
    margin: 10px 10px 10px 10px;
}

table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

body {
    /*background: #d6eaf8;*/
    background-image: url("https://image.freepik.com/free-vector/duck-seamless-pattern-background_42349-10.jpg");
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 17px;
    /*margin: 10px 20px;*/
    margin: 20px 10px 20px 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4830F0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#choose_rake {
    position: fixed;
    right: 500px;
    top: 30px;
}

#radiobtn {
    background-image: url("https://image.freepik.com/free-vector/duck-seamless-pattern-background_42349-10.jpg");
}
